html,
body {
	width: 375px;
	height: 415px;

}

#header{
	padding-bottom: 15px;
	background-image: linear-gradient(#D3D3D3,#ffffff)
}

.hidden {
	display: none;
}

.button {
	margin: 2.5% auto;
	padding: 2px;
	text-align: center;
	font-size: 1.5em;
	cursor: pointer;
	
}

.save,
.reset {
	width: 85%;
}
#popup-content{
	text-align: center;
	width: auto;

}
#saved-content{
	padding: 3px;
	width: auto;
	text-align: center;
}

.accDelete{
	float: right;
}

.accDiv {
	background-color: #eee;
	color: #444;
	padding: 10px 3px;
	width: auto;
	text-align: left;
	border: none;
	outline: none;
	transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accDiv:hover {
	background-color: #ccc;
}

.icon{
	width: 27px;
	height: 27px;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
	padding: 7px 18px;
	background-color: white;
	text-align: left;
	display: none;
	overflow: hidden;
}
