html,
body {
	width: 375px;
	height: 415px;

}

#header{
	padding-bottom: 15px;
	background-image: linear-gradient(#D3D3D3,#ffffff)
}

.hidden {
	display: none;
}

.button {
	margin: 2.5% auto;
	padding: 2px;
	text-align: center;
	font-size: 1.5em;
	cursor: pointer;
	
}

.save,
.reset {
	width: 85%;
}
#popup-content{
	text-align: center;
	width: auto;

}
#saved-content{
	padding: 3px;
	width: auto;
	text-align: center;
}

.accDelete{
	float: right;
}

.accDiv {
	background-color: #E5E4E2;
	color: #444;
	padding: 10px 3px;
	width: auto;
	text-align: left;
	border: none;
	outline: none;
	transition: 0.4s;
	border-radius: 4px;
	margin: 3px 2px 0px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accDiv:hover {
	background-color: #C0C0C0;
}

.icon{
	width: 27px;
	height: 27px;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
	padding: 7px 18px;
	background-color: #F5F5F5;

	border-style: solid;
	border-width: 0px 2px 2px 2px;
	border-color: #C0C0C0;
	border-radius: 0px 0px 4px 4px;

	margin: 0px 2px;

	text-align: left;
	display: none;
	overflow: hidden;
}
